html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #ccc;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

h3, h4 {
  margin-bottom: 0;
  margin-top: 0;
}

section li {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

li img {
  display: block;
  width: 5rem;
}

li hgroup {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 16rem;
  /* border: 2px solid blue; */
}

li p {
  width: 24rem;
  /* border: 2px solid green; */
}

li a {
  background-color: #444;
  color: #fff;
  margin-left: 1.5rem;
  padding: .5rem 1rem;
  text-decoration: none;
  /* width: 5rem; */
  /* border: 2px solid purple; */
}
